@page
@model BaiBeautyModel
@{
    ViewData["Title"] = "BaiBeauty";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the BaiBeauty Shop</h1>
</div>
<hr />
<p>List of Products:</p>
@foreach (var b in Model.Products)
{
    <p>@Html.DisplayFor(modelItem => b.ProductID) @Html.DisplayFor(modelItem => b.pName) @Html.DisplayFor(modelItem => b.pPrice)</p>
}

