@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To BaiBeauty</h1>
    <br>
    <p>Check out what products are availble. BaiBeauty carries all kind of products ranging from skincare to body care.</p>
</div>